<form action="#" id="form1">
  <h2>Book a Room</h2>
  <fieldset>
    <div class="row">
      <input type="text" class="input"> Your Name: </div>
    <div class="row">
      <input type="text" class="input"> E-Mail Address: </div>
    <div class="row">
      <input type="text" class="input"> Home Phone: </div>
    <div class="row">
      <div class="select1">
        <select>
          <option>&nbsp;</option>
          <option>...</option>
        </select>
      </div>
      Length of Stay: </div>
    <div class="row">
      <div class="select1">
        <select>
          <option>&nbsp;</option>
          <option>...</option>
        </select>
      </div>
      Number in Party: </div>
    <div class="row">
      <div class="select2">
        <select>
          <option>&nbsp;</option>
          <option>...</option>
        </select>
      </div>
      <div class="select2">
        <select>
          <option>&nbsp;</option>
          <option>...</option>
        </select>
      </div>
      <div class="select2">
        <select>
          <option>&nbsp;</option>
          <option>...</option>
        </select>
      </div>
      Arrival Date: </div>
    <div class="row_textarea"> Additional Comments:
      <textarea cols="1" rows="1"></textarea>
    </div>
    <div class="wrapper"> <a href="#" class="button1">Send</a> <a href="#" class="button1">Clear</a> </div>
  </fieldset>
</form>
