<div class="ContactForm">
<h2><img src="{{STATIC_URL}}images/title_marker1.jpg" alt="">Contact Form</h2>
<form id="ContactForm" action="#">
<div>
  <div class="wrapper">
    <input type="text" class="input"> Name: </div>
  <div class="wrapper">
    <input type="text" class="input"> Address: </div>
  <div class="wrapper">
    <input type="text" class="input"> Email: </div>
  <div class="textarea_box">
    <textarea name="textarea" cols="1" rows="1"></textarea>
    Contacts: </div>
  <a href="#" class="button2">Send</a> <a href="#" class="button2">Clear</a> </div>
</form>
</div>
