<script src='{{STATIC_URL}}js/jquery-1.6.js'></script>
<script src='{{STATIC_URL}}js/cufon-yui.js'></script>
<script src='{{STATIC_URL}}js/cufon-replace.js'></script>
<!--script src='{{STATIC_URL}}js/Adamina_400.font.js'></script-->
<script src='{{STATIC_URL}}js/jquery.jqtransform.js'></script>
<script src='{{STATIC_URL}}js/script.js'></script>
<script src='{{STATIC_URL}}js/kwicks-1.5.1.pack.js'></script>
<script src='{{STATIC_URL}}js/atooltip.jquery.js'></script>
<!--[if lt IE 9]>
<script  src="{{STATIC_URL}}js/html5.js"></script>
<![endif]-->
<script type="text/javascript">Cufon.now();</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.kwicks').kwicks({
        max: 500,
        spacing: 0,
        event: 'mouseover'
    });
})
</script>
