{% extends "site_base.html" %} {% block body %}
<!-- content -->
<article id="content">
  <div class="box1">
    <div class="wrapper">
      {% include "_locationmap.html" %}
      {% include "_contactform.html" %}
    </div>
  </div>
  <div class="pad">
    <h2>Our Contacts</h2>
    <div class="line2">
      <div class="wrapper line3">
        <div class="col1">
          <p class="pad_bot1">
            <strong class="color2">USA</strong>
          </p>
          <p class="pad_bot1">8901 Marmora Road, Glasgow, D04</p>
          <p class="cols"> Freephone:
            <br> Telephone:
            <br> Fax:
            <br> Email:
          </p>
          +1 800 559 6580
          <br> +1 800 603 6035
          <br> +1 800 889 9898
          <br>
          <a href="#" class="color1">mail@demolink.org</a> </div>
        <div class="col1 pad_left1">
          <p class="pad_bot1">
            <strong class="color2">Canada</strong>
          </p>
          <p class="pad_bot1">8901 Marmora Road, Glasgow, D04</p>
          <p class="cols"> Freephone:
            <br> Telephone:
            <br> Fax:
            <br> Email:
          </p>
          +1 800 559 6580
          <br> +1 800 603 6035
          <br> +1 800 889 9898
          <br>
          <a href="#" class="color1">mail@demolink.org</a> </div>
        <div class="col1 pad_left1">
          <p class="pad_bot1">
            <strong class="color2">Mexico</strong>
          </p>
          <p class="pad_bot1">8901 Marmora Road, Glasgow, D04</p>
          <p class="cols"> Freephone:
            <br> Telephone:
            <br> Fax:
            <br> Email:
          </p>
          +1 800 559 6580
          <br> +1 800 603 6035
          <br> +1 800 889 9898
          <br>
          <a href="#" class="color1">mail@demolink.org</a> </div>
      </div>
    </div>
  </div>
</article>
<!--content end-->
{% endblock %}
